<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Text Similarity Calculator</title>
</head>
<body>
    <h1>Text Similarity Calculator</h1>

    

    <form action="." method="POST">
        <p>
            <label for="text1">Text 1:</label>
            <textarea name="text1" id="text1" rows="5" cols="40"></textarea>
        </p>
        <p>
            <label for="text2">Text 2:</label>
            <textarea name="text2" id="text2" rows="5" cols="40"></textarea>
        </p>
        <p>
            <input type="submit" value="Calculate similarity">
        </p>
    </form>
</body>
</html>
